# Python - Data Structure Assignment

Q1. What are data structures, and why are they important?

Data structures are a specific way of organizing data in a well organized format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively.
It is important because
they make the code more efficient
and they make the code easier to understand.
Simplify data manipulation (adding, removing, modifying elements)
Conserve memory usage

Q2. Explain the difference between mutable and immutable data types with examples.

Mutable data types in which the data can be modified by adding or removing the element .
for example: List , set and ddictionaries.
Immutable data types in which the data cannot be modified by adding or removing the element.
for example: Stings and Tuples

Q3. What are the main differences between lists and tuples in Python?

Lists are mutable which means the values are editable even after the list is being created, where as, Tuples are immutable which means tuples cannot be modified by adding or removing element.

Q4. Describe how dictionaries store data.

Dictionaries are key-value pairs that allow you to store and retrieve data based on a 'unique key'. The keys must be immutable or unique, such as strings or numbers. Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.

   syntax:
   dic = {"name":"Samrat", "email":"ssamrat1250@gmail.com", "contact": 7985}
   #key must be unique in this key are; name, email ,contact.

Q5. Why might you use a set instead of a list in Python?

Use Set when you want the content should be unique and order of content doesn't matter, while List is used when you need to maintain the order of elements and allow duplicates.

Q6. What is a string in Python, and how is it different from a list?

String is a sequence of data. The main difference is that, String is a immutable data type while list is mutable. Stings data are to be stroed within single(' ') or double quote (" ").

Q7. How do tuples ensure data integrity in Python?

Tuples are immutable to ensure that their contents remains constant. which means the value will remain unchanged.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

A Hash Table in Python is nothing but a data structure where data is stored in an proper manner. In hash tables, data is stored in an array format, with every data value having an exclusive or unique index value.

Q9. Can lists contain different data types in Python?

Yes, lists can contain the different data types in python. Like, string , integer, bollean, and so on.

Q10. Explain why strings are immutable in Python.

As we know onces the string value is being assigned to the varible the value cannot be changed or modifed because the value is being assigned in the varible or memory of the system.

Q11.What advantages do dictionaries offer over lists for certain tasks?

The dictionaries stores data as key value pair which helps in retreving the data more effectively.

where as in lists the data retreiving the index postion has to be given for getting the data fromn the list

In [ ]:
   #in dictionaries the retreving of data by using the key i.e. name
dic = {"name":"Samrat", "email":"ssamrat1250@gmail.com", "contact": 96452}
dic['name']

#in lists the retreving of data by using the index no.

list1= [1, 2, 3, 4]
list[0]

Q12. Describe a scenario where using a tuple would be preferable over a list.

Tuples can be used in the scenario where the value has be remained unchanged
For example

employee id
roll no
account number and many more.

Q13.How do sets handle duplicate values in Python?

Set function is being used to remove duplicate values in python

In [6]:
items = ['apple', 'banana', 'apple', 'onion', 'apple']
set1 = (set(items))
print(set1)

{'banana', 'apple', 'onion'}

Q14.How does the “in” keyword work differently for lists and dictionaries?

"in" keyword in list are usefull to find whether the element is present in the list or not

In [5]:
# In lists, the 'in' keyword checks if an element is present in the list.
my_list = ["Apple", "Banana", "orange"]
print('Apple' in my_list)
print('Grape' in my_list)

# In dictionaries, the 'in' keyword checks if a key is present in the dictionary.
my_dict = {"name": "Samrat", "email": "ssamrat1250@gmail.com", "contact": 7985}
print('name' in my_dict)
print('address' in my_dict)

True
False
True
False

Q15. Can you modify the elements of a tuple? Explain why or why not.

No, we can not add, remove or modify the elements of a tuple once it is created , because the tuples are immutable data type and once the value being assigned it cannot be modified

Q16.What is a nested dictionary, and give an example of its use case?

In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

the most popular use case is in:

Restaurants

Offices

Schools

Big companies

In [9]:
student = {
    'R1': {'name': 'sahil', 'age': 25, 'contact': '5578'},
    'R2': {'name': 'Ram', 'age': 18, 'contact': '9467'},
    'R3': {'name': 'Amit', 'age': 22, 'contact': '7500'}
    }
student['R1']

{'name': 'sahil', 'age': 25, 'contact': '5578'}

Output : - {'name': 'sahil', 'age': 25, 'contact': '5578'}

Q17.Describe the time complexity of accessing elements in a dictionary.

The time complexity of inserting a new element into a Python dictionary is typically O(1). This means that the time taken to insert an element into a dictionary is constant, regardless of the size of the dictionary. This is because Python dictionaries use a hash table data structure, which allows for fast insertion, retrieval, and deletion of key-value pairs.

Q18.In what situations are lists preferred over dictionaries?

If you need an ordered collection, like a sequence of user actions, then lists are useful. On the other hand, when you need quick look-ups to user data, dictionaries are invaluable.
Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are unordered because Python dictionaries are not programmed to be in order, as simple as that.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.

A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key-value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [11]:
#For exasmple:
#in dictionaries the retreving of data by using the key i.e. name
dic = {"name":"Samrat", "email":"ssamrat@gmail.com", "contact": 589652}
dic['name']

#in lists the retreving of data by using the index no.
list1= [1, 2, 3, 4]
list[0]

list[0]

**Practical Questions**

In [13]:
# # Question 1. Write a code to create a string with your name and print it
name = "Samrat"
print(name)

## output Samrat

Samrat

In [14]:
# Question 2.  Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

## output 11

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

# output Pyt

In [17]:
# Question 4. Write a code to convert the string "hello" to uppercase
s  =  "hello"
print(s.upper())

# output HELLO

HELLO

In [18]:
# Question 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s1 = s.replace("apple", "orange")
print(s1)

# output I like orange

I like orange

In [19]:
# Question 6.  Write a code to create a list with numbers 1 to 5 and print it
my_list = list(range(1,6))
print("My list:", my_list)

# output - My list: [1, 2, 3, 4, 5]

My list: [1, 2, 3, 4, 5]

In [20]:
# Question 7 ' Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)
print(list)

# output - [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

In [21]:
# Question 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list =  [1, 2, 3, 4, 5]
list.remove(3)
print(list)

#output [1, 2, 4, 5]

[1, 2, 4, 5]

In [ ]:
# Question 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

# output - b

In [ ]:
# Question 10.Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

# output - [50, 40, 30, 20, 10]

In [22]:
# Question 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

# output - (100, 200, 300)

(100, 200, 300)

In [28]:
# Question 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup1 =  ('red', 'green', 'blue', 'yellow')
print(tup1[-2])

# output - blue

blue

In [29]:
# Question 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup2 = (10, 20, 5, 15)
print(min(tup2))

# output - 5

5

In [ ]:
# Question 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup3 = ('dog', 'cat', 'rabbit')
print(tup3.index('cat'))

# output  1

In [ ]:
# Question 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup3 = ('apple', 'banana', 'orange')
print('kiwi' in tup3)

# output - False

In [30]:
# Question 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

# output - {'a', 'b', 'c'}

{'a', 'c', 'b'}

In [32]:
# Question 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

# output - set()

set()

In [ ]:
# Question 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

# output - {1, 2, 3}

In [ ]:
# Question 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4.union(set5))

# output - {1, 2, 3, 4, 5}

In [ ]:
# Question 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6.intersection(set7))

# output - {2, 3}

In [34]:
# Question 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

contact = {
    "name": "Barma",
    "age": 24,
    "city": "Indore"
}

print(contact)

# output - {'name': 'Barma', 'age': 24, 'city': 'Indore'}

{'name': 'Barma', 'age': 24, 'city': 'Indore'}

In [ ]:
# Question 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
contact = {'name': 'John', 'age': 25}
contact['country'] = 'USA'
print(contact)

# output - {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Question 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
contact = {'name': 'Alice', 'age': 30}
print(contact['name'])

# output - Alice

In [35]:
# Question 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']
print(info)

# output - {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

In [36]:
# Question 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
info4 = {'name': 'Alice', 'city': 'Paris'}
print('city' in info)

# output - True

True

In [37]:
# Question 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
fruits = ['apple', 'banana', 'cherry']

# Creating a tuple
colors = ('red', 'green', 'blue')

# Creating a dictionary
person = {
    'name': 'Anaya',
    'age': 30,
    'city': 'punjab'
}

# Printing all of them
print("List:", fruits)
print("Tuple:", colors)
print("Dictionary:", person)

# output - List: ['apple', 'banana', 'cherry']
#Tuple: ('red', 'green', 'blue')
#Dictionary: {'name': 'Anaya', 'age': 30, 'city': 'punjab'}

List: ['apple', 'banana', 'cherry']
Tuple: ('red', 'green', 'blue')
Dictionary: {'name': 'Anaya', 'age': 30, 'city': 'punjab'}

In [38]:
# Question 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
random_numbers = random.sample(range(1, 101), 5)

# sort
random_numbers.sort()

#  result
print("Sorted random numbers:", random_numbers)

# output -  Sorted random numbers: [43, 61, 74, 77, 100]

Sorted random numbers: [43, 61, 74, 77, 100]

In [40]:
# Question 28. Write a code to create a list with strings and print the element at the third index
list = ['apple', 'banana', 'cherry', 'mango', 'elderberry']
print(list[3])

# output - mango

mango

In [41]:
# Question 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

# output - {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
# Question 30. Write a code to convert a list of strings into a set.
list = ['apple', 'banana', 'cherry', 'mango', 'elderberry']
set1 = set(list)
print(set1)

# output - {'cherry', 'mango', 'banana', 'apple', 'elderberry'}

{'cherry', 'mango', 'banana', 'apple', 'elderberry'}